section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 25px;
}

.circle p {
  color: white;
}
