section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.circle p {
  color: #485b28;
  font-size: 45px;
}
