.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 25px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.circle p {
  color: #485b28;
  font-size: 45px;
}

.lotto-btn {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

button {
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
}
